:root{
    --font-menu-hover:#ffffff60;
    --font: #fff;
    --fundo: #252525;
    --menu-fundo:#ffffff60;
}

body{
    margin: 0;
    font-family:'Segoe UI', sans-serif;
    background-color: var(--fundo);
    color: var(--font);
}

.pag{
    display: block;
}


.cabecalho{
    width: 100%;
    position: static;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    z-index: 2;

}

header{
    position: sticky;
    background-color: #ffffff10;
    overflow-wrap: normal;
}

.menu-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 85%;
    z-index: 2;
}

.menu-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 29px;
}

.menu-nav ul li ,a{
    color: var(--font);
    text-decoration: none;
    gap: 29px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .3rem .5rem;
}

.menu-nav ul li:last-child{
    border: 2px solid red;
    border-radius: 100px;
    padding-inline: 1.4rem;
    outline-offset: 2px;
}

.menu-nav ul li:last-child:hover{
    background-color: red;
    box-shadow: 0px 0px 5px red;
    transition: all .3s ease-out;
}

.menu-nav img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 15%;
    cursor: pointer;
}

.section-central{
    position:relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 4.5rem);
    justify-content: center;
    align-items:center;
}

.section-central .slide-initial{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #f8000030;
    z-index: 1;
    overflow: hidden;
    box-shadow: 10px 10px 20px #00000060;
}

.section-central .slide-initial img{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    filter:blur(10px) saturate(1.4) brightness(70%);
}

.section-central .slide-initial h1{
    font-size: 3.5rem;
    -webkit-text-stroke: 3px #000;
}

.section-central .slide-initial h1:hover{
    scale: 110%;
    transition: all ease-out .3s;
}

.section-central .slide-initial p{
    margin-top: 0;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    width: 70%;
    text-align: center;
    word-wrap: break-word;
}
/*ANIMES CATALOGO*/
/* catalogo central */
.catalog-section{
    width: 100%;
    min-height: 100vh;
    box-shadow: inset 0 15px 15px #252525;
    background-color: #151515;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
/* catalogo das cards dentro da section central */
.catalog-section .catalog-div{
    width: 85%;
    height: 100%;
    padding-top: 2rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-template-rows: repeat(auto-fill, 280px);
    overflow: hidden;
    flex-wrap: wrap;
}
/* card dos animes */
.catalog-section .catalog-div .mini-card{
    width: 170px;
    height: 240px;
    background: gray;
    border-radius: .3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    cursor: pointer;

}

.catalog-section .catalog-div .mini-card:hover{
    box-shadow: 3px 3px 10px #ffffff70;
    transition: .4s;
}

.catalog-section .catalog-div .mini-card:hover .description-card {
    transform: translateY(0px);
    transition: .5s;
}

.catalog-section .catalog-div .mini-card:hover .description-text{
    display: block;
    display: -webkit-box;
    transition: .5s;
    word-wrap: break-word;
}

/* imagem da card */
.catalog-section .catalog-div .mini-card img{
    position: absolute;
    width: 170px;
    height: 240px;
    z-index: 0;
    border-radius: .3rem;
}
/* descrição das cards */
.mini-card .description-card{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #25252590;
    transform: translateY(170px);
    position: relative;
    overflow: hidden;
}

.mini-card .description-card h5{
    text-align: center;
    z-index: 2;
    font-size: .85rem;
}

.mini-card .description-card .description-text{
    padding: 6px;
    display: none;
    display: -webkit-box; /*display para deixar o conteúdo com ellipsis em várias linhas*/
    z-index: 2;
    font-size: .85rem;
    text-align: justify;
    max-height: 160px;
    width: 160px;
    white-space:pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9; /* informa a quantidade de linhas que você deseja antes da ellipsis*/
    -webkit-box-orient: vertical; /*informa a direção que você deseja que aconteça a ellipse*/
}

/* scroll bar edit */
::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: grey;
}