:root{
    --font-menu-hover:#ffffff60;
    --font: #fff;
    --fundo: #252525;
    --menu-fundo:#ffffff60;
}

body{
    margin: 0;
    font-family:'Segoe UI', sans-serif;
    background-color: var(--fundo);
    color: var(--font);
}

.pag{
    display: block;
}


.cabecalho{
    width: 100%;
    position: static;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    z-index: 2;

}

.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 85%;
    z-index: 2;
}

.menu-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 29px;
}

.menu-nav ul li ,a{
    color: var(--font);
    text-decoration: none;
    gap: 29px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .3rem .5rem;
}

.menu-nav ul li:last-child{
    border: 2px solid red;
    border-radius: 100px;
    padding-inline: 1.4rem;
    outline-offset: 2px;
}

.menu-nav ul li:last-child:hover{
    background-color: red;
    box-shadow: 0px 0px 5px red;
    transition: all .3s ease-out;
}

.menu-nav img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 15%;
    cursor: pointer;
}

.section-central{
    position:relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 4.5rem);
    justify-content: center;
    align-items:center;
}

.section-central .slide-initial{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #f8000030;
    z-index: 1;
    overflow: hidden;
    box-shadow: 10px 10px 20px #00000060;
}

.section-central .slide-initial img{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    filter:blur(10px) saturate(1.4) brightness(70%);
}

.section-central .slide-initial h1{
    font-size: 3.5rem;
    -webkit-text-stroke: 3px #000;
}

.section-central .slide-initial p{
    margin-top: 0;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    width: 70%;
    text-align: center;
    word-wrap: break-word;
}







